@using System.Collections.Specialized
@using Microsoft.Ajax.Utilities
@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@*td>@Html.ActionLink(@customerDto.Name, "Edit", "Customer", new { id = customerDtoDto.Id }, null)</td>*@
<div>
    <p> @Html.ActionLink("New Movie", "New", "Movies", new { @class = "btn-primary btn" })   </p>
</div>



@*@if (Model.Count == 0)
    {
        <P>No Movies are available</P>
    }
    else
    {*@
<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movies</th>
            <th>Genre</th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>

        @*@foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@movie.Name, "Edit", "Movies", new { id = @movie.Id }, null)  </td>
                    <td> @movie.Genres.Name  </td>
                </tr>
            }*@

    </tbody>

</table>
@*}*@
@section scripts
{
    <script>
        $(document).ready(function () {


            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movie) {
                            return "<a href='/movie/Edit/" + movie.id + "'>" + movie.name + "</a>";
                        }
                    },
                    {
                        data: "genres.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link jss-delete' data-movie-id=" +
                                data +
                                ">Delete</button>";
                        }
                    }
                ]
            });


            $("#movies").on("click", ".jss-delete", function () {

                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this movie?",
                    function (result) {
                        if (result) {

                            $.ajax({
                                url: "/api/movies/" + button.attr("data-movie-id"),
                                method: "DELETE",
                                success: function () {

                                    table.row(button.parents("tr")).remove().draw();

                                }
                            });
                        }
                    });
            });


        });
    </script>
}
