@model List<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@*td>@Html.ActionLink(@customer.Name, "Edit", "Customer", new { id = customer.Id }, null)</td>*@
@Html.ActionLink("New Movie","New","Movies" )


@if (Model.Count == 0)
{
    <P>No Movies are available</P>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movies</th>
                <th>Genre</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var movie in Model)
                {
                <tr>
                    <td>@Html.ActionLink(@movie.Name, "Edit","Movies", new { id = @movie.Id }, null)  </td>
                    <td> @movie.Genres.Name  </td>
                </tr>
            }

        </tbody>

        </table>
                }

