@model Vidly.ViewModel.MovieFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>

    @Html.BeginForm("Save","Movies")
    {
        <div class="form-group">
    
            @Html.LabelFor(m => m.Movie.Name)
            @Html.TextBoxFor(m => m.Movie.Name)

        </div>
        <div class="form-group">

            @Html.LabelFor(m => m.Movie.ReleaseDate)
            @Html.TextBoxFor(m => m.Movie.ReleaseDate)

        </div>
        @*@Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membeship Type", new { @class = "form-control" })*@
        <div class="form-group">
    
            @Html.LabelFor(m => m.Movie.Genres)
            @Html.DropDownListFor(m => m.Movie.GenresId, new SelectList(Model.MovieGenres,"Id","Name"),"Select Genre", new {@class = "form-control"})

        </div>

        <div class="form-group">

            @Html.LabelFor(m => m.Movie.Stock)
            @Html.TextBoxFor(m => m.Movie.Stock)

        </div>
    }
